<h2 class="headlineFont">Flüchtlinginformationen</h2>

<table class="table table-hover">
    <tbody>
    <tr>
        <th>Deutschkenntnisse</th>
        <td>{{ fluechtling.deutschKenntnis ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
        <th>Anmeldestelle</th>
        <td>{{ fluechtling.anmeldeStelle }}</td>
    </tr>
    <tr>
        <th>Ansprechpartner</th>
        <td>{{ fluechtling.ansprechPartner }}</td>
    </tr>
    <tr>
        <th>Telefonnummer</th>
        <td>{{ fluechtling.tel }}</td>
    </tr>
    </tbody>
</table>