<h1>Fluechtling</h1>

<table class="table">
    <tbody>
    <tr>
        <th>Deutschkenntnisse</th>
        <td>{{ fluechtling.deutschKenntnis }}</td>
    </tr>
    <tr>
        <th>Anmeldestelle</th>
        <td>{{ fluechtling.anmeldeStelle }}</td>
    </tr>
    <tr>
        <th>Ansprechpartner</th>
        <td>{{ fluechtling.ansprechPartner }}</td>
    </tr>
    <tr>
        <th>Telefonnummer</th>
        <td>{{ fluechtling.tel }}</td>
    </tr>
    </tbody>
</table>