<table class="table table-hover">
    <tbody>
    <tr>
        <th>Deutschkenntnisse</th>
        <td>
            {%  if fluechtling.deutschKenntnis == 0 %}
                keine
            {% elseif fluechtling.deutschKenntnis == 1 %}
                sehr schlecht
            {% elseif fluechtling.deutschKenntnis == 2 %}
                eher schlecht
            {% elseif fluechtling.deutschKenntnis == 3 %}
                durchschnittlich
            {% elseif fluechtling.deutschKenntnis == 4 %}
                eher gut
            {% elseif fluechtling.deutschKenntnis == 5 %}
                sehr gut
            {% else %}
                Fehler
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Anmeldende Stelle</th>
        <td>{{ fluechtling.anmeldeStelle }}</td>
    </tr>
    <tr>
        <th>Ansprechpartner</th>
        <td>{{ fluechtling.ansprechPartner }}</td>
    </tr>
    <tr>
        <th>Telefonnummer</th>
        <td>{{ fluechtling.tel }}</td>
    </tr>
    </tbody>
</table>