{% extends 'base.html.twig' %}

{% block title %}New Fluechtling{% endblock %}

{% block body %}
    <h1 class="headlineFont">Flüchtling und Asylbewerber</h1>

    {{ include('fluechtling/_form.html.twig') }}

{% endblock %}