{% extends 'base.html.twig' %}

{% block title %}Update Flüchtlingsinformationen{% endblock %}

{% block body %}
    <h1>Update Flüchtlingsinformationen</h1>

    {{ include('fluechtling/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
