<table class="table table-hover">
    <tbody>
    <tr>
        <th>letzte Schulart</th>
        <td>{{ schueler.letzteSchulartReadable }}</td>
    </tr>
    <tr>
        <th>höchster Abschluss</th>
        <td>{{ schueler.hoechsterAbschlussReadable }}</td>
    </tr>
    <tr>
        <th>höchster Abschluss erworben an</th>
        <td>{{ schueler.hoechAbschlAnReadable }}</td>
    </tr>
    </tbody>
</table>