{{ include('schulbesuche/_show.html.twig') }}
<table class="table table-hover">
    <tbody>
    <tr>
        <th>letzte Schulart</th>
        <td>{{ schueler.letzteSchulart }}</td>
    </tr>
    <tr>
        <th>höchster Abschluss</th>
        <td>{{ schueler.hoechsterAbschluss }}</td>
    </tr>
    <tr>
        <th>höchster Abschluss erworben an</th>
        <td>{{ schueler.hoechsterAbschlussAn }}</td>
    </tr>
    </tbody>
</table>