{% extends 'base.html.twig' %}

{% block title %}Schulbesuch index{% endblock %}

{% block body %}
    <h1>Vorbildung erfassen</h1>
    {# TODO: TBD <div class="alert alert-primary" role="alert">Bitte mindestens eine Schule hinzufügen!</div> #}
    <h2>Schullaufbahn</h2>
    {{ include('schulbesuch/table.html.twig') }}
    {{ include('vorbildung/_form.html.twig') }}
{% endblock %}
