{% extends 'base.html.twig' %}

{% block title %}Neuen Betrieb anlegen{% endblock %}

{% block body %}
    <h1>Anlage eines Betriebs</h1>
    <br>
    {{ include('betrieb/_form.html.twig') }}

{% endblock %}