{% extends 'base.html.twig' %}

{% block title %}Update Betrieb{% endblock %}

{% block body %}
    <h1>Update Betrieb</h1>

    {{ include('betrieb/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
