{% extends 'base.html.twig' %}

{% block title %}Edit Schueler{% endblock %}

{% block body %}
    <h1>Edit Schueler</h1>

    {{ include('schueler/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('schueler_index') }}">back to list</a>

    {{ include('schueler/_delete_form.html.twig') }}
{% endblock %}
