{% extends 'base.html.twig' %}

{% block title %}New Schueler{% endblock %}

{% block body %}
    <h2 class="headlineFont">Daten des Schülers</h2>

    {{ include('schueler/_form.html.twig') }}

{% endblock %}