{% extends 'base.html.twig' %}

{% block title %}Update Schueler{% endblock %}

{% block body %}
    <h1>Update Schueler</h1>

    {{ include('schueler/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}