<h1>Umschueler</h1>

<table class="table">
    <tbody>
    <tr>
        <th>Träger</th>
        <td>{{ umschueler.traeger }}</td>
    </tr>
    <tr>
        <th>Trägersitz</th>
        <td>{{ umschueler.traegerSitz }}</td>
    </tr>
    <tr>
        <th>Förderernummer</th>
        <td>{{ umschueler.foerdererNr }}</td>
    </tr>
    </tbody>
</table>