{% extends 'base.html.twig' %}

{% block title %}Update Umschülerinformationen{% endblock %}

{% block body %}
    <h1>Update Umschülerinformationen</h1>

    {{ include('umschueler/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
