{% extends 'base.html.twig' %}

{% block title %}New UmschuelerDaten{% endblock %}

{% block body %}
    <h1>Create new UmschuelerDaten</h1>

    {{ include('umschueler_daten/_form.html.twig') }}

    <a href="{{ path('umschueler_daten_index') }}">back to list</a>
{% endblock %}
