{% extends 'base.html.twig' %}

{% block title %}Edit Schule{% endblock %}

{% block body %}
    <h1>Edit Schule</h1>

    {{ include('schule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('schule_index') }}">back to list</a>

    {{ include('schule/_delete_form.html.twig') }}
{% endblock %}
