{% extends 'base.html.twig' %}

{% block title %}New Schule{% endblock %}

{% block body %}
    <h1>Anlegen einer neuen Schule</h1>

    {{ include('schule/_form.html.twig') }}

    <a class="btn controlButton buttonFont blankLinkButton" href="{{ path('schulbesuch_new') }}">Zurück</a>
{% endblock %}
