{% extends 'base.html.twig' %}

{% block title %}New Schule{% endblock %}

{% block body %}
    <h1>Create new Schule</h1>

    {{ include('schule/_form.html.twig') }}

    <a href="{{ path('schulbesuch_new') }}">zurück</a>
{% endblock %}
