{% extends 'base.html.twig' %}

{% block title %}Update Schule{% endblock %}

{% block body %}
    <h1>Update Schule</h1>

    {{ include('schule/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}