{% extends 'base.html.twig' %}

{% block title %}New Kammer{% endblock %}

{% block body %}
    <h1>Create new Kammer</h1>

    {{ include('kammer/_form.html.twig') }}

    <a href="{{ path('kammer_index') }}">back to list</a>
{% endblock %}
