{{ form_start(form) }}

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont">Wohnheim &nbsp;</label>
        {{  form_widget(form.wohnheim) }}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label class="labelFont">Mitteilung</label>
        {{  form_widget(form.mitteilung, {'attr':{'placeholder': 'Hier wichtige Informationen notieren', 'class':'form-control'}}) }}
    </div>
</div>
<br>
<input class="btn controlButton buttonFont btn-block blankLinkButton" type="submit" />
{{ form_end(form) }}

