<table class="table table-hover">
    <tbody>
    <tr>
        <th>Unterbringung in Wohnheim gewünscht</th>
        <td>{{ registrierung.wohnheim ? 'Ja' : 'Nein'}}</td>
    </tr>

    <tr>
        <th>Mitteilung an die Berufsschule I</th>
        <td{% if registrierung.mitteilung is null %} class="font-weight-light font-italic"{% endif %}>{% if registrierung.mitteilung is not null %}{{ registrierung.mitteilung }}{% else %}Keine Mitteilung{% endif %}</td>
    </tr>

    </tbody>
</table>