<table class="table table-hover">
    <tbody>
    <tr>
        <th>Unterbringung in Wohnheim gewünscht</th>
        <td>{{ registrierung.wohnheim ? 'Ja' : 'Nein'}}</td>
    </tr>
    {% if registrierung.mitteilung is not null %}
    <tr>
        <th>Mitteilung an die Berufsschule I</th>
        <td>{{ registrierung.mitteilung }}</td>
    </tr>
    {% endif %}
    </tbody>
</table>