<form method="post" action="{{ path('fluechtling_daten_delete', {'id': fluechtling_daten.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fluechtling_daten.id) }}">
    <button class="btn">Delete</button>
</form>
