<h2 class="headlineFont">Ausbildung</h2>

<table class="table table-hover">
    <tbody>
    <tr>
        <th>Beginn</th>
        <td>{{ ausbilundg.beginn }}</td>
    </tr>
    <tr>
        <th>Ende</th>
        <td>{{ ausbildung.ende }}</td>
    </tr>
    <tr>
        <th>Beruf</th>
        <td>{{ ausbildung.beruf }}</td>
    </tr>
    </tbody>
</table>