<table class="table">
    <tbody>
    <tr>
        <th>Betrieb</th>
        <td>{{ include('betrieb/_show.html.twig', { 'betrieb': ausbildung.betrieb}) }}</td>
    </tr>
    <tr>
        <th>Ausbildungsbeginn</th>
        <td>{{ ausbildung.beginn ? ausbildung.beginn|date('d.m.Y') : ''}}</td>
    </tr>
    <tr>
        <th>Ausbildungsende</th>
        <td>{{ ausbildung.ende ? ausbildung.ende|date('d.m.Y') : ''}}</td>
    </tr>
    <tr>
        <th>Beruf</th>
        <td>{{ ausbildung.beruf.bezeichnung }}</td>
    </tr>
    </tbody>
</table>