<h2 class="headlineFont">Ausbildung</h2>

<table class="table table-hover">
    <tbody>
    <tr>
        <th>Beginn</th>
        <td>{{ ausbildung.beginn ? ausbildung.beginn|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Ende</th>
        <td>{{ ausbildung.ende ? ausbildung.ende|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Beruf</th>
        <td>{{ ausbildung.beruf }}</td>
    </tr>
    </tbody>
</table>