<h1>Ausbildung</h1>

<table class="table">
    <tbody>
    <tr>
        <th>Betrieb</th>
        <td>{{ ausbildung.betrieb.name }}</td>
    </tr>
    <tr>
        <th>Beginn</th>
        <td>{{ ausbildung.beginn|date('d.m.Y') }}</td>
    </tr>
    <tr>
        <th>Ende</th>
        <td>{{ ausbildung.ende|date('d.m.Y') }}</td>
    </tr>
    <tr>
        <th>Beruf</th>
        <td>{{ ausbildung.beruf.bezeichnung }}</td>
    </tr>
    </tbody>
</table>