{% extends 'base.html.twig' %}

{% block title %}New Aubildung{% endblock %}

{% block body %}
    <h2 class="headlineFont">Erstellen einer neuen Ausbildung</h2>
    <br>

    {{ include('ausbildung/_form.html.twig') }}

{% endblock %}