{% extends 'base.html.twig' %}

{% block title %}New Aubildung{% endblock %}

{% block body %}
    <br>
    <h2 class="headlineFont">Erfassen der Aubildungsdaten</h2>

    {{ include('ausbildung/_form.html.twig') }}

{% endblock %}