{% extends 'base.html.twig' %}

{% block title %}Update Ausbildung{% endblock %}

{% block body %}
    <h1>Update Ausbildung</h1>

    {{ include('ausbildung/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
