{% extends 'base.html.twig' %}

{% block title %}Kontaktperson index{% endblock %}

{% block body %}
    <h1>Kontaktpersonen</h1>


    {{ include('kontaktperson/_showtable.html.twig', {'kontaktpeople': kontaktpeople}) }}

    <div class="row">
        <div class="col-lg-12">
            <a class="btn BayreuthButton buttonFont blankLinkButton pull-left" href="{{ path('kontaktperson_new') }}">Create new</a>
            <a class="btn BayreuthButton buttonFont blankLinkButton float-right" href="{{ path('vorbildung_index') }}">Weiter</a>
        </div>
    </div>

{% endblock %}
