{% extends 'base.html.twig' %}

{% block title %}Kontaktperson index{% endblock %}

{% block body %}
    <h1>Kontaktperson index</h1>

    {{ include('kontaktperson/_showtable.html.twig', {'kontaktpeople': kontaktpeople}) }}

    <a href="{{ path('kontaktperson_new') }}">Create new</a>
    <a href="{{ path('vorbildung_index') }}">Weiter</a>
{% endblock %}
