{% extends 'base.html.twig' %}

{% block title %}New Kontaktperson{% endblock %}

{% block body %}
    <h1>Erfassen einer neuen Kontaktperson</h1>

    {{ include('kontaktperson/_form.html.twig') }}

    <a class="btn controlButton buttonFont blankLinkButton float-left" href="{{ path(buttonPath) }}">Zurück zur Übersicht</a>
{% endblock %}
