{% extends 'base.html.twig' %}

{% block title %}Kontaktperson{% endblock %}

{% block body %}
    {{ include('kontaktperson/_show.html.twig') }}

    <a href="{{ path('kontaktperson_index') }}">back to list</a>

    <a href="{{ path('kontaktperson_edit', {'id': kontaktperson.id}) }}">edit</a>

    {{ include('kontaktperson/_delete_form.html.twig') }}
{% endblock %}
