{% extends 'base.html.twig' %}

{% block title %}Update Kontaktperson{% endblock %}

{% block body %}
    <h1>Update Kontaktperson</h1>

    {{ include('kontaktperson/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
