{% extends 'base.html.twig' %}

{% block title %}New Beruf{% endblock %}

{% block body %}
    <h1>Create new Beruf</h1>

    {{ include('beruf/_form.html.twig') }}

    <a href="{{ path('beruf_index') }}">back to list</a>
{% endblock %}
