{% extends 'base.html.twig' %}

{% block title %}Neuer Beruf{% endblock %}

{% block body %}
    <div>
        <a class="btn controlButton blankLinkButton pull-left" href="{{ path('admin') }}">Zurück zur Verwaltung...</a>
        <br>
        <br>
    </div>
    <h1 class="headlineFont">Neuen Beruf anlegen</h1>

    {{ include('beruf/_form.html.twig') }}

    <a class="btn controlButton buttonFont blankLinkButton pull-left" href="{{ path('beruf_index') }}">zur Liste</a>
{% endblock %}
