{% extends 'base.html.twig' %}

{% block title %}Neuer Beruf{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('admin') }}">Zurück zur Verwaltung...</a>
    </div>
    <h1>Neuen Beruf anlegen</h1>

    {{ include('beruf/_form.html.twig') }}

    <a href="{{ path('beruf_index') }}">zur Liste</a>
{% endblock %}
