{% extends 'base.html.twig' %}

{% block title %}Edit Schulbesuch{% endblock %}

{% block body %}
    <h1>Edit Schulbesuch</h1>

    {{ include('schulbesuch/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('schulbesuch_index') }}">back to list</a>

    {{ include('schulbesuch/_delete_form.html.twig') }}
{% endblock %}
