{% extends 'base.html.twig' %}

{% block title %}New Schulbesuch{% endblock %}

{% block body %}
    <h1>Schulbesuch</h1>

    {{ include('schulbesuch/_form.html.twig') }}

    <a class="btn controlButton buttonFont blankLinkButton  float-left" href="{{ path(buttonPath) }}">Zurück zur Übersicht</a>
{% endblock %}
