{% extends 'base.html.twig' %}

{% block title %}Schulbesuch{% endblock %}

{% block body %}
    {{ include('schulbesuch/_show.html.twig') }}

    <a href="{{ path('schulbesuch_index') }}">back to list</a>

    <a href="{{ path('schulbesuch_edit', {'id': schulbesuch.id}) }}">edit</a>

    {{ include('schulbesuch/_delete_form.html.twig') }}
{% endblock %}
