{{ include('schulbesuch/_showtable.html.twig', {'schulbesuche': schulbesuche}) }}
<a class="btn controlButton buttonFont blankLinkButton" href="{{ path('schulbesuch_new') }}">Schulbesuch hinzufügen</a>