<a class="btn controlButton buttonFont btn-block blankLinkButton" href="{{ path(route) }}">
{% if text == '' %}
    Bearbeiten
{% else %}
    {{ text }}
{% endif %}
</a>
{# TODO BayreuthButton umbenennen#}
