<a class="btn btn-outline-primary BayreuthButton buttonFont btn-block blankLinkButton" href="{{ path(route) }}">Bearbeiten</a>
{# TODO BayreuthButton umbenennen#}
{# TODO nur einen btn-primary auf einer Seite! Das soll  #}