<a class="btn BayreuthButton buttonFont btn-block blankLinkButton" href="{{ path(route) }}">
{% if text == '' %}
    Bearbeiten
{% else %}
    {{ text }}
{% endif %}
</a>
{# TODO BayreuthButton umbenennen#}
{# TODO nur einen btn-primary auf einer Seite! Das soll  #}