{% extends 'base.html.twig' %}
{% block title %}Anmeldung abgeschlossen{% endblock %}
{% block body %}
    <div class="alert alert-success" role="alert">Sie haben die Anmeldung erfolgreich abgeschlossen.</div>
{% endblock %}

