{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <h2 class="headlineFont text-center">Hier startet die Anmeldung ✅</h2>
                {#<a href="{{ path('schueler_new') }}">Hier geht´s mit dem ersten Formular los</a>#}
            </div>
        </div>
    </div>
{% endblock %}
