{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdminCreateImportController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <a href="{{ path('admin') }}">Zurück zur Verwaltung...</a>
        <div>
            <div>
                <a href="{{ path('download', {'fileName': export_file}) }}">Download</a>
            </div>
            {% if import_strings|length > 0 %}
                <pre>{% for import_string in import_strings %}{{ import_string }}{% endfor %}</pre>
            {% else %}
                <p>Es gibt aktuell keine Registrierungen</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
