{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdminCreateImportController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <a class="btn controlButton blankLinkButton pull-left" href="{{ path('admin') }}">Zurück zur Verwaltung...</a>
        <div>
            <div>
                <a class="btn controlButton buttonFont blankLinkButton btn-block" href="{{ path('download') }}">Download</a>
            </div>
            {% if import_strings|length > 0 %}
                <pre>{% for import_string in import_strings %}{{ import_string }}<br>{% endfor %}</pre>
            {% else %}
                <p>Es gibt keine Registrierungen die noch nicht exportiert wurden.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
