{% extends 'base.html.twig' %}

{% block title %}Edit Registrierung{% endblock %}

{% block body %}
    <h1>Edit Registrierung</h1>

    {{ include('registrierung/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('registrierung_index') }}">back to list</a>

    {{ include('registrierung/_delete_form.html.twig') }}
{% endblock %}
