{% extends 'base.html.twig' %}

{% block title %}New Registrierung{% endblock %}

{% block body %}
    <h1>Create new Registrierung</h1>

    {{ include('registrierung/_form.html.twig') }}

    <a href="{{ path('registrierung_index') }}">back to list</a>
{% endblock %}
