{% extends 'base.html.twig' %}

{% block title %}Update Registrierung{% endblock %}

{% block body %}
    <h1>Update Registrierung</h1>

    {{ include('registrierung/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
